.container {
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1% 1%;

  .game-series-select-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;

    app-aiimbo-game-series-select{
      width: 40%;
    }
  }

  .section-table,
  .table {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    overflow-y: auto;

    .game-card {
      width: 110px;
      height: 110px;
      margin-right: 2%;
      margin-top: 2%;
      background-color: lightgray;
      border: 1px black solid;
      box-shadow: 6px 6px 5px grey;
    }
  }
}
