<section class="container">
  <h1>AIIMBO MEMORY CARD GAME</h1>
  <div class="game-series-select-box">
    <app-aiimbo-game-series-select (selectedEvent)="seriesSelected($event)">
    </app-aiimbo-game-series-select>

    <button mat-raised-button color="primary" [disabled]="!gameSeriesSelected" (click)="reloadGame()">
      Ricomincia
    </button>
  </div>

  <section class="section-table">
    <div class="table" *ngIf="gameSeriesSelected && cards.length > 0">
      <mat-card class="game-card" *ngFor="let card of cards" (click)="cardOpen(card)">
        <mat-card-title-group>
          <img mat-card-md-image [src]="card?.image" *ngIf="card.show" alt="">
        </mat-card-title-group>
      </mat-card>
    </div>
  </section>

</section>
